<app-layout name="">

    <div class="container" style="margin-top: 80px; margin-bottom: 30px;">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-3">
                    <label>Ngày checkin</label>
                    <input class="form-control" type="date" id="checkin" ng-model="formBook.checkinDate"
                        ng-change="changeDate()">
                </div>
                <div class="col-md-3">
                    <label>Ngày checkout</label>
                    <input class="form-control" type="date" id="checkout" ng-model=formBook.checkoutDate
                        ng-change="changeDate()">
                </div>
                <div class="col-md-2">
                    <label>Loại phòng</label>
                    <select class="form-control" ng-model="formBook.roomType"
                        ng-options="rt.code as rt.name for rt in roomTypes">
                        <option value="">Chọn loại phòng</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Chi tiết</label>
                    <div class="dropdown-center">
                        <input type="text" class="form-control" placeholder="1 phòng : 2 người lớn : 0 trẻ em" readonly
                            ng-value="formBook.numRooms + ' phòng : ' +  formBook.numAdults + ' người lớn : ' + formBook.numChildren + ' trẻ em'"
                            role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" />
                        <ul class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label style="margin-top: 22px;">Số phòng</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p></p>
                                        <div class="input-group">
                                            <input class="form-control" type="number" ng-model="formBook.numRooms"
                                                min="1">
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </li>
                            <p></p>
                            <li>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label style="margin-top: 9px;">Người lớn <br> (≥
                                            13 tuổi)</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p></p>
                                        <div class="input-group">
                                            <input class="form-control" type="number" ng-model="formBook.numAdults"
                                                min="1">
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </li>
                            <p></p>
                            <li>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label style="margin-top: 9px;">Trẻ em <br> (< 13 tuổi) </label>
                                    </div>
                                    <div class="col-md-5">
                                        <p></p>
                                        <div class="input-group">
                                            <input class="form-control" type="number" ng-model="formBook.numChildren"
                                                min="0">
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </li>
                            <p></p>
                            <li>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-warning" type="button"
                                            ng-click="closeDropdown()">Xong</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1">
                    <label style="color: #ffffff">.</label>
                    <button ng-click="checkRoom()" class="btn btn-primary w-100" style="background-color: #ffc107;">Kiểm
                        tra</button>
                </div>
            </div>
        </div>
    </div>

    <!-- data room booking -->

    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <table class="table">
                <thead class="table-warning">
                    <tr>
                        <th scope="col">Loại phòng</th>
                        <th scope="col">Các lựa chọn</th>
                        <th scope="col">Giá hôm nay</th>
                        <th scope="col">Chọn số phòng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="info in infoRoomBooking">
                        <td style="width: 350px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <img ng-src="/assets/img/roomType/phong-king-grand-deluxe.jpg" alt=""
                                        style="width: 100%; height: 100%;">
                                </div>
                                <div class="col-md-12">
                                    <h5>{{info.roomType.name}}</h5>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Diện tích</p>
                                    <p>Giường</p>
                                    <p>Khách tối đa</p>
                                    <p>Khách tối đa</p>
                                </div>
                                <div class="col-md-8">
                                    <p>{{info.roomType.area}} m<sup>2</sup></p>
                                    <p>{{info.roomType.bed}}</p>
                                    <p>{{info.roomType.maxAdults}} người lớn</p>
                                    <p>{{info.roomType.maxChildren}} trẻ em</p>
                                </div>
                            </div>
                        </td>
                        <td ng-if="info.promotion == null">
                            <strong>{{ info.minPrice === info.maxPrice ?
                                (info.maxPrice | currency: '' : 0) :
                                (info.minPrice | currency: '' : 0) + ' - ' +
                                (info.maxPrice
                                |
                                currency: '' : 0) }}đ</strong>
                        </td>
                        <td ng-if="info.promotion != null">
                            <strong style="text-decoration: line-through;">{{ info.minPrice
                                === info.maxPrice ?
                                (info.maxPrice | currency: '' : 0) :
                                (info.minPrice | currency: '' : 0) + ' - ' +
                                (info.maxPrice
                                |
                                currency: '' : 0) }}đ</strong>
                            <br>
                            <strong style="color: red">{{ info.newMinPrice
                                === info.newMaxPrice ?
                                (info.newMaxPrice | currency: '' : 0) :
                                (info.newMinPrice | currency: '' : 0) + ' - ' +
                                (info.newMaxPrice
                                |
                                currency: '' : 0) }}đ</strong>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control" type="number" ng-model="room.numRooms" min="0">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
        <div style="background-image: url('/assets/img/roomType/presidential-suite-sheraton.jpg');background-size: cover;
            height: 447px;" class="col-md-12 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Luxury Living</h6>
                <h1 class="text-white mb-4">{{formBook.roomType.name}}</h1>
                <p class="text-white mb-4">Đặt phòng ngay và thanh toán online để nhận nhiều ưu đãi</p>
                <a ng-click="openModalBooking()" class="btn btn-primary py-md-3 px-md-5 me-3">Đặt
                    ngay</a>
                <a class="btn btn-light py-md-3 px-md-5">Số phòng còn lại: {{infoRoomBooking[0].quantity}}</a>
            </div>
        </div>
    </div>

    <!-- book modal -->
    <div class="modal fade" id="book-modal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 style="color: red; font-size: 8px;" class="modal-title fs-5" id="staticBackdropLabel">
                        <div id="countdown"></div>
                    </h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding: 15px 15px;">
                    <div data-wow-delay="0.2s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input ng-model="formBook.fullName" type="text" class="form-control" id="name"
                                            placeholder="Họ và tên">
                                        <label for="name">Tên Ông/Bà</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input ng-model="formBook.phoneNumber" type="text" class="form-control"
                                            id="phoneNumber" placeholder="Số điện thoại">
                                        <label for="phoneNumber">Số điện thoại</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input ng-model="formBook.email" type="email" class="form-control" id="email"
                                            placeholder="Email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <textarea ng-model="formBook.note" class="form-control"
                                            placeholder="Yêu cầu thêm" id="message" style="height: 100px"></textarea>
                                        <label for="message">Yêu cầu thêm</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button ng-click="getBooking()" class="btn btn-primary w-100 py-3" type="submit">Đặt
                            phòng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-layout>