<app-layout name="">
    <div style="margin-top: 125px;" class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="row">
                            <div class="col-md-3"> <label for="formrow-address-input"> Ngày checkin</label>
                               <input class="form-control" type="date" id="myDate">
                            </div>
                            <div class="col-md-3"><label for="formrow-address-input"> Ngày checkout</label>
                               <input class="form-control" type="date" id="myDate1">
                            </div>
                            <div class="col-md-3">
                                <label for="formrow-address-input">Số người lớn</label>
                                <select ng-model="formBook.numAdult" class="form-select">
                                    <option selected="">Adult</option>
                                    <option value="1">Adult 1</option>
                                    <option value="2">Adult 2</option>
                                    <option value="3">Adult 3</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="formrow-address-input">Số trẻ em</label>
                                <select ng-model = "formBook.numChild" class="form-select">
                                    <option selected="">Child</option>
                                    <option value="1">Child 1</option>
                                    <option value="2">Child 2</option>
                                    <option value="3">Child 3</option>
                                </select>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button ng-click="init()" class="btn btn-primary w-100">Kiểm tra</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
            <div  style="background-image: url('/assets/img/roomType/presidential-suite-sheraton.jpg');background-size: cover;
            height: 447px;" 
             class="col-md-12 bg-dark d-flex align-items-center">
                <div class="p-5">
                    <h6 class="section-title text-start text-white text-uppercase mb-3">Luxury Living</h6>
                    <h1 class="text-white mb-4">{{form.name}}</h1>
                    <p class="text-white mb-4">Đặt phòng ngay và thanh toán online để nhận nhiều ưu đãi</p>
                    <a ng-click="countDown()" data-bs-toggle="modal" href="#bookModal" class="btn btn-primary py-md-3 px-md-5 me-3">Đặt ngay</a>
                    <a class="btn btn-light py-md-3 px-md-5">Số phòng còn lại : 7</a>
                </div>
            </div>
    </div>

    <!-- --modal -->
    <div class="room-modal modal fade modal-xl" id="bookModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div><h5 style="color: red;padding: 15px 15px;"><div id="countdown"></div>
                </h5></div>
                <div style="padding: 15px 15px;">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input ng-model="formBook.name" type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Tên Ông/Bà</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input ng-model="formBook.email" type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Địa chỉ Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input ng-model="formBook.address" type="text" class="form-control datetimepicker-input" id="checkin" placeholder="Check In" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="checkin">Địa chỉ</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date4" data-target-input="nearest">
                                        <div class="form-floating">
                                            <select ng-model="formBook.city" class="form-select" id="select3">
                                                <option value="hanoi">Ha Noi</option>
                                                <option value="haiphong">Hai Phong</option>
                                                <option value="danang">Da Nang</option>
                                            </select>
                                            <label for="select3">Thành phố</label>
                                          </div>
                                    </div>
                                </div>
                                <div class="form-floating date" id="date4" data-target-input="nearest">
                                    <div class="form-floating">
                                        <select ng-model="formBook.numRoom" class="form-select" id="select3">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                        <label for="select3">Số lượng phòng</label>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea ng-model="formBook.request" class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message">Yêu cầu với lễ tân</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="paypal-button-container" class="btn   mt-2"></div>
                                </div>
                                <div class="col-12">
                                    <button ng-click="submit()" class="btn btn-primary w-100 py-3" type="submit">Đặt phòng</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout>