<app-layout name="">

    <div ng-show="loading" class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>

    <div class="bg-white shadow" style="padding: 35px ;margin-top: 80px;margin-bottom: 30px;">
        <div class="row g-2">
            <div class="col-md-3">
                <label>Ngày checkin</label>
                <input class="form-control" type="date" id="checkin" ng-model="formBook.checkinDate"
                    ng-change="changeDate()">
            </div>
            <div class="col-md-3">
                <label>Ngày checkout</label>
                <input class="form-control" type="date" id="checkout" ng-model=formBook.checkoutDate
                    ng-change="changeDate()">
            </div>
            <div class="col-md-2">
                <label>Loại phòng</label>
                <select class="form-control" ng-model="formBook.roomType"
                    ng-options="rt.code as rt.name for rt in roomTypes">
                    <option value="">Chọn loại phòng</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Chi tiết</label>
                <div class="dropdown-center">
                    <input type="text" class="form-control" placeholder="1 phòng : 2 người lớn : 0 trẻ em" readonly
                        ng-value="formBook.numRooms + ' phòng : ' +  formBook.numAdults + ' người lớn : ' + formBook.numChildren + ' trẻ em'"
                        role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" />
                    <ul class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <label style="margin-top: 22px;">Số phòng</label>
                                </div>
                                <div class="col-md-5">
                                    <p></p>
                                    <div class="input-group">
                                        <input class="form-control" type="number" ng-model="formBook.numRooms" min="1">
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </li>
                        <p></p>
                        <li>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <label style="margin-top: 9px;">Người lớn <br> (≥
                                        13 tuổi)</label>
                                </div>
                                <div class="col-md-5">
                                    <p></p>
                                    <div class="input-group">
                                        <input class="form-control" type="number" ng-model="formBook.numAdults" min="1">
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </li>
                        <p></p>
                        <li>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <label style="margin-top: 9px;">Trẻ em <br> (< 13 tuổi) </label>
                                </div>
                                <div class="col-md-5">
                                    <p></p>
                                    <div class="input-group">
                                        <input class="form-control" type="number" ng-model="formBook.numChildren"
                                            min="0">
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </li>
                        <p></p>
                        <li>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-warning" type="button"
                                        ng-click="closeDropdown()">Xong</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <label style="color: #ffffff">.</label>
                <button ng-click="checkRoom()" class="btn btn-primary w-100 check-room">Tìm</button>
            </div>
        </div>
    </div>

    <!-- data room booking -->

    <div class="bg-white shadow" style="padding: 35px;">
        <table class="table table-bordered dt-responsive nowrap w-100">
            <thead class="table-warning">
                <tr>
                    <th scope="col">Loại phòng</th>
                    <th scope="col">Thông tin</th>
                    <th scope="col">Giá hôm nay</th>
                    <th scope="col">Chúng tôi còn</th>
                    <th scope="col">Số phòng đặt</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="info in infoRoomBooking">
                    <td style="width: 350px;">
                        <div class="row">
                            <a ng-click="showDetailRoomType(info.roomType)" class="room-type-detail">
                                <h5>{{ info.name }}</h5>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Diện tích</p>
                                <p>Hút thuốc</p>
                                <p>Phù hợp</p>
                            </div>
                            <div class="col-md-8">
                                <p>: {{info.roomType.area}} m<sup>2</sup></p>
                                <p>: {{info.roomType.isSmoking ? 'Có' : 'Không'}}</p>
                                <p>: {{info.roomType.numAdults}} người lớn <br> và
                                    {{info.roomType.numChilds}} trẻ em</p>
                            </div>
                        </div>
                    </td>
                    <td ng-if="info.promotion == null">
                        <strong>{{ info.price | currency: '' : 0}}đ</strong>
                    </td>
                    <td ng-if="info.promotion != null">
                        <strong style="text-decoration: line-through;">{{ info.price |
                            currency: '' : 0 }}đ</strong>
                        <br>
                        <strong style="color: red">{{ info.newPrice |
                            currency: '' : 0}}đ</strong>
                        <br>
                        <span style="color: red">({{info.promotion.name}}-{{
                            info.promotion.percent }}%</span>
                        <br>
                        <span style="color: red">Tối đa: {{info.promotion.maxDiscount |
                            currency: '' : 0}}đ)</span>
                    </td>
                    <td style="text-align: center;">
                        <span>{{ info.quantity }} phòng</span>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select class="form-control" ng-model="info.numRooms"
                                        ng-change="updateTotalNumRooms()">
                                        <option value="0">0</option>
                                        <option ng-repeat="i in [].constructor(info.quantity) track by $index+1"
                                            value="{{ $index+1 }}">{{ $index+1 }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- room type detail -->


    <div class="modal fade" id="room-type-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="customer-modal-label">{{ currentRoomType.name }}
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner" style="height: 400px;">
                            <div class="carousel-item active">
                                <img src="https://picsum.photos/200/300" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://picsum.photos/200/300" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://picsum.photos/200/300" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <table class="table table-hover table-reponsive">
                        <tr>
                            <td><strong>Mô tả:</strong></td>
                            <td>{{ currentRoomType.description }}</td>
                        </tr>
                        <tr>
                            <td><strong>Diện tích:</strong></td>
                            <td>{{ currentRoomType.area }} m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td><strong>Phù hợp:</strong></td>
                            <td>{{ currentRoomType.numAdults }} người lớn và
                                {{ currentRoomType.numChilds }} trẻ em</td>
                        </tr>
                        <tr>
                            <td><strong>Thêm tối đa:</strong></td>
                            <td>
                                {{ currentRoomType.maxAdultsAdd }} người lớn
                                ({{currentRoomType.adultSurcharge | currency: '' : 0}}đ/người)
                                <br>
                                và
                                {{ currentRoomType.maxChildsAdd }} trẻ em
                                ({{currentRoomType.childSurcharge | currency: '' : 0}}đ/trẻ)
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Hút thuốc:</strong></td>
                            <td>{{ currentRoomType.isSmoking ? 'Có' : 'Không' }}</td>
                        </tr>
                        <tr>
                            <td><strong>Giá:</strong></td>
                            <td>{{ currentRoomType.price | currency: '' : 0 }}đ</td>
                        </tr>
                        <tr>
                            <td><strong>Chính sách huỷ:</strong></td>
                            <td>
                                {{currentRoomType.cancellationPolicy}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Chính sách khác:</strong></td>
                            <td>
                                {{currentRoomType.otherPolicy}}
                            </td>
                        </tr>
                        <!-- vật dụng -->
                        <tr>
                            <td><strong>Vật tư:</strong></td>
                            <td></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- book modal -->
    <div class="modal fade" id="book-modal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title fs-5" id="staticBackdropLabel">
                        Thông tin cá nhân
                    </h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding: 15px 15px;">
                    <div data-wow-delay="0.2s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input ng-model="formBook.fullName" type="text" class="form-control" id="name"
                                            placeholder="Họ và tên">
                                        <label for="name">Tên Ông/Bà</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input ng-model="formBook.phoneNumber" type="text" class="form-control"
                                            id="phoneNumber" placeholder="Số điện thoại">
                                        <label for="phoneNumber">Số điện thoại</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input ng-model="formBook.email" type="email" class="form-control" id="email"
                                            placeholder="Email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <textarea ng-model="formBook.note" class="form-control"
                                            placeholder="Yêu cầu thêm" id="message" style="height: 100px"></textarea>
                                        <label for="message">Yêu cầu thêm</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button ng-click="getBooking()" class="btn btn-primary w-100 py-3" type="submit">Đặt
                            phòng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="book-now" ng-click="openModalBooking()">Book Now</button>

</app-layout>