<app-layout name="">


    <!-- room Grid-->
    <section class="page-section bg-light" id="room">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">room</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 mb-4">
                    <!-- room item 1-->
                    <div class="room-item">
                        <a ng-click="views(roomTypes[0],'assets/img/roomType/phong-deluxe-king-sheraton.jpg')" class="room-link" data-bs-toggle="modal" href="#roomModal1">
                            <img class="img-fluid" src="/assets/img/roomType/phong-deluxe-king-sheraton.jpg" alt="..." />
                        </a>
                        <div class="room-caption">
                            <div class="room-caption-heading">{{roomTypes[0].name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-4">
                    <!-- room item 2-->
                    <div class="room-item">
                        <a ng-click="views(roomTypes[1],'assets/img/roomType/phong-king-executive-suite.jpg')" class="room-link" data-bs-toggle="modal" href="#roomModal1">

                            <img class="img-fluid" src="/assets/img/roomType/phong-king-executive-suite.jpg"/>
                        </a>
                        <div class="room-caption">
                            <div class="room-caption-heading">{{roomTypes[1].name}}</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-4">
                    <!-- room item 3-->
                    <div class="room-item">
                        <a ng-click="views(roomTypes[2],'assets/img/roomType/phong-king-grand-deluxe.jpg')" class="room-link" data-bs-toggle="modal" href="#roomModal1">

                            <img class="img-fluid" src="/assets/img/roomType/phong-king-grand-deluxe.jpg" alt="..." />
                        </a>
                        <div class="room-caption">
                            <div class="room-caption-heading">{{roomTypes[2].name}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 mb-4 mb-lg-0">
                    <!-- room item 4-->
                    <div class="room-item">
                        <a ng-click="views(roomTypes[3],'assets/img/roomType/presidential-suite-sheraton.jpg')" class="room-link" data-bs-toggle="modal" href="#roomModal1">

                            <img class="img-fluid" src="/assets/img/roomType/presidential-suite-sheraton.jpg"
                                alt="..." />
                        </a>
                        <div class="room-caption">
                            <div class="room-caption-heading">{{roomTypes[3].name}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                        architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                        architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                        architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/1.jpg" alt="..." />
                        <h4>Parveen Anand</h4>
                        <p class="text-muted">Lead Designer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/2.jpg" alt="..." />
                        <h4>Diana Petersen</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"
                            aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"
                            aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/3.jpg" alt="..." />
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Developer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                        laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients-->
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/assets/img/logos/microsoft.svg"
                            alt="..." aria-label="Microsoft Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/assets/img/logos/google.svg"
                            alt="..." aria-label="Google Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/assets/img/logos/facebook.svg"
                            alt="..." aria-label="Facebook Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/assets/img/logos/ibm.svg"
                            alt="..." aria-label="IBM Logo" /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Giới thiệu</h2>
                <h3 class="section-subheading text-muted">Dự án tốt nghiệp</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/1.jpg"
                            alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>01 - 2023</h4>
                            <h4 class="subheading">Lên ý tưởng - Phân tích thiết kế</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Sau nhiều lần họp bàn để thảo luận về ý tưởng cho dự án tốt nghiệp,
                                thành viên DevZ171 đã đưa ra các ý tưởng
                                sáng tạo và độc đáo. Cuối cùng, nhóm quyết định triển khai ý tưởng về một Website quản
                                lý khách sạn mang tên Nam Việt,
                                với mục đích cung cấp cho khách hàng một trải nghiệm đáng nhớ và thuận tiện hơn khi đặt
                                phòng và quản lý khách sạn vừa và nhỏ.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/2.jpg"
                            alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>02 - 2023</h4>
                            <h4 class="subheading">Phát triển tính năng chính</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Sau khi hoàn thành việc đưa ra ý tưởng và thiết kế Database,
                                Usecase,... , nhóm bắt
                                đầu tập trung vào phát triển các tính năng cơ bản
                                của trang web. Nhóm đã xác định các tính năng quan trọng và ưu tiên những tính năng này
                                để phát triển trước.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/3.jpg"
                            alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>03 - 2023</h4>
                            <h4 class="subheading">Phát triển các tính năng phụ</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Nhóm tiếp tục hoàn thiện các tính năng của trang web. Các
                                thành viên tập trung vào việc cải thiện
                                tính năng đặt phòng, thanh toán hoá đơn. Nhóm cũng đã dần hoàn
                                thiện
                                tính
                                năng quản lý phòng, dịch vụ, khuyến mại,.. đồng thời tiến hành kiểm thử. </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/4.jpg"
                            alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>04 - 2023</h4>
                            <h4 class="subheading">Sửa lỗi - Hoàn thiện dự án</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Nhóm dần hoàn thiện toản bộ trang web, các thành viên dành thời gian
                                để sửa
                                lỗi và cải thiện hiệu suất theo từng ngày. Nhóm đã sẵn sàng cho ngày bảo vệ!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            TỐT
                            <br />
                            NGHIỆP
                            <br />
                            FPOLY!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Contact-->
   
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start"></div>
                <div class="col-lg-4 my-3 my-lg-0">
                    Copyright &copy; Khach san Nam Viet 2023
                </div>
                <div class="col-lg-4 text-lg-end">
                </div>
            </div>
        </div>
    </footer>


    <div class="room-modal modal fade modal-xl" id="roomModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div><img src="{{link}}" /></div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">{{form.name}}</h2>
                                <p class="item-intro text-muted">Thông tin chi tiết phòng.</p>
                                <p>{{form.description}}</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Chính sách huỷ phòng:</strong>
                                        {{form.cancellationPolicy}}
                                    </li>
                                    <li>
                                        <strong>Phụ phí trẻ em:</strong>
                                        {{form.childSurcharge |currency: '' : 0}} đ
                                    </li>
                                </ul>
                                <a class="btn btn-primary btn-xl text-uppercase" ng-click="books(form.code)">
                                    Đặt ngay
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout>